.scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 3px;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-foreground);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-navbar);
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--muted-foreground);
}
